.productenContainer1 {
  padding-bottom: 2rem;
  h2 {
    padding-top: 3rem;
  }
  .widthContainer {
    .successtoryBlok {
      .storyPersonBlok {
        margin-bottom: 2rem;
      }
      .afkappen {
        margin-bottom: 2rem;
      }
    }
  }
}
